* {
    margin:0;
    padding:0;
}
html, body {
    background-color: #000000;
    background: radial-gradient( #8b1672, #438de3, black);
    color: #FFFFFF;
    font-family: Verdana, Arial, sans-serif;
    min-width: 650px;
    height: 100%;
}

.flash {
    color: red;
    font-size: 90%;
    font-style: italic;
}

#nav {
    list-style-type: none;
    background-color: #000000;
    height: 30px;
}

#nav ul{
    list-style-type: none;
    alignment-adjust: central;
}

#nav li {
    height: 28px;
    width:200px;
    text-align: center;
    position:relative;
    float:left;
    margin-right: 3px;
    display:inline;

}

#nav a{
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 28px;
    alignment-adjust: auto;
    display: block;
    background-color: #000000;
    width: 200px;
    margin: 0 auto;
}

#nav a:link {
    color: #FFFFFF;
}

#nav a:visited{
    color: #26e93b;
}
#ft {
    background: linear-gradient(#FFFFFF, #c1c1c1);
    clear: both;
    padding: 1em;
    text-align: center;
    color: #222222;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

#nav .sub {
    background-color: #4b4747;
    width:  200px;
    left: 0px;
    text-align: left;
}

#nav ul.sub{
    display: none;
    position: absolute;
}

#nav .sub li {
    margin-top: 4px;
}

#nav .sub a {
    margin-top: 1px;
    width: 200px;
    font-size: 15px;
}

#nav li:hover > a {
    background-color: #545554;
    color: #FFFFFF;
}

a:link {
    color:#55aff5;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0  #000, 1px 1px 0 #000;
}

a:hover {
    color: #ff9999;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0  #000, 1px 1px 0 #000;
}
